{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}

    <div>
        <h2>Stock Info</h2>
        <table>
                <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Name</th>
                            <th>Price</th>
                        </tr>
                </thead>
                <tbody>
                   <tr>
                        <td>{{symbol}}</td>
                        <td>{{name}}</td>
                        <td>{{price}}</td>
                   </tr>
                </tbody>
        </table>
    </div>

{% endblock %}
